<div class="col-12 col-md-3">
  <article id="user-<%= user.id %>" class="user-card">
    <a href="<%= users_path %>/<%= user.id %>" class="user-card-inner">
      <% if user.avatar.thumb.url %>
        <%= image_tag user.avatar.thumb.url, class: 'img-circle' %>
      <% else %>
        <%= image_tag 'avatar_default.png', class: 'img-circle' %>
      <% end %>
      <h4><%= user.username %></h4>
    </a>
    <div class="taskbar">
      <% if current_user?(user) %>
      <%= link_to ("<i class='fa fa-pencil'></i>").html_safe, edit_user_path(current_user), class: 'text-warning' %>
      <% end %>
      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to ("<i class='fa fa-times'></i>").html_safe, user, method: :delete,
                                      data: { confirm: "Biztos benne?" }, class: 'text-danger' %>
      <% end %>
    </div>
  </article>
</div>