<% provide(:title, "Adatlap") %>

<section id="user-sheet">
  <div class="container">
    <div class="row">
      <div class="col-8">
        
      </div>
      <div class="col-4">
        <aside class="widget">
          <h4 class="widget-title">
            <span class="inner-arrow"><%= @user.username %> profilja</span>
          </h4>
          <div class="about-widget">
            <img src="" alt="Avatar">
            <h2 class="about-me-heading"><%= @user.lastname %> <%= @user.firstname %></h2>
            <% if @user.description %>
              <p><%= @user.description %></p>
            <% end %>
            <% if logged_in? && current_user?(@user) %>
              <div class="text-center">
                <%= link_to "Szerkesztés", edit_user_path(current_user) %>
              </div>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>