<% provide(:title, "Adatlap") %>

<section id="user-sheet">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <% if @user.recipes %>
          <header class="page-content text-center">
            <hr>
            <h2 class="text-uppercase">Utolsó 5 receptem</h2>
            <hr>
          </header>
          <div class="row">
            <%= render @user.recipes %>
          </div>
        <% end %>
        <% if @user.admin? %>
          <header class="page-content text-center">
            <hr>
            <h2 class="text-uppercase">Utolsó 5 bejegyzésem</h2>
            <hr>
          </header>
          <%= render @posts %>
        <% end %>
      </div>
      <div class="col-4">
        <aside class="widget">
          <h4 class="widget-title">
            <span class="inner-arrow"><%= @user.username %> profilja</span>
          </h4>
          <div class="about-widget">
            <% if @user.avatar.thumb.url %>
              <%= image_tag @user.avatar.thumb.url, class: 'img-circle' %>
            <% else %>
              <%= image_tag 'avatar_default.png', class: 'img-circle' %>
            <% end %>
            <h2 class="about-me-heading"><%= @user.lastname %> <%= @user.firstname %></h2>
            <% if @user.description %>
              <p><%= @user.description %></p>
            <% end %>
            <% if logged_in? && current_user?(@user) %>
              <div class="text-center">
                <%= link_to "Szerkesztés", edit_user_path(current_user) %>
              </div>
            <% end %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>