<% provide(:title, @post.title) %>

<section id="user-sheet">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="page-content">
          <h2><%= @post.title %></h2>
          <%= (@post.content).html_safe %>
        </div>
      </div>
      <div class="col-4">
        <aside class="widget">
          <h4 class="widget-title">
            <span class="inner-arrow">Szerző</span>
          </h4>
          <div class="about-widget">
            <% if @post.user.avatar.thumb.url %>
              <%= image_tag @post.user.avatar.thumb.url, class: 'img-circle' %>
            <% else %>
              <%= image_tag 'avatar_default.png', class: 'img-circle' %>
            <% end %>
            <h2 class="about-me-heading"><%= @post.user.lastname %> <%= @post.user.firstname %></h2>
            <% if @post.user.description %>
              <p><%= @post.user.description %></p>
            <% end %>
          </div>
        </aside>
        <aside class="widget">
          <h4 class="widget-title">
            <span class="inner-arrow">Kategóriák</span>
          </h4>
          <ul class="category-menu">
            <% for category in RecipeCategory.all %>
              <% if category.recipe_ids.length > 0  %>
                <li>
                  <a href="<%= recipe_category_path(category.id) %>"><%= category.name %> <span>(<%= category.recipe_ids.length %>)</span></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </aside>
        <aside class="widget">
          <h4 class="widget-title">
            <span class="inner-arrow">Utolsó 5 recept</span>
          </h4>
          <ul class="last-recipes">
            <% for @lastrecipe in Recipe.order('recipes.created_at DESC').limit(5) %>
              <li>
                <div class="side-item">
                  <% if @lastrecipe.featured_image.url %>
                    <div class="side-image">
                      <% if @lastrecipe.featured_image_url %>
                        <a href="<%= recipe_path(@lastrecipe.id) %>" style="background-image: url(<%= @lastrecipe.featured_image_url %>)"></a>
                      <% else %>
                        <a href="<%= recipe_path(@lastrecipe.id) %>"></a>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="side-item-text">
                    <h4>
                      <%= link_to @lastrecipe.title, recipe_path(@lastrecipe.id) %>
                    </h4>
                    <div class="side-item-meta"><%= l @lastrecipe.created_at %></div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>