<header id="header">
  <div class="inner-header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="logo">
              <a href="<%= request.base_url %>">
                <%= image_tag 'logo.svg' %>
                <h1 class="sr-only">Chef</h1>
              </a>
          </div>
          <div class="header-slogan">
            <h2 class="header-slogan-text">
              recept blog
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navigation-sticky-wrapper" class="sticky-wrapper">
    <nav id="navigation">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="menu clearfix">
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-home'></i> Főoldal").html_safe, root_path %>
              </li>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-book'></i> Receptek").html_safe, recipes_path %>
              </li>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-users'></i> Felhasználók").html_safe, users_path %>
              </li>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-newspaper-o'></i> Blog").html_safe, posts_path %>
              </li>
            </ul>
          </div>
          <div class="col clearfix">
            <ul class="menu sub-menu pull-right clearfix">
              <% if logged_in? %>
              <li class="menu-item">
                <a href="#"><i class='fa fa-user'></i> Profilom</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <%= link_to 'Profilom', current_user %>
                  </li>
                  <% if current_user.admin? %>
                    <li class="menu-item">
                      <%= link_to 'Új bejegyzés', new_post_path %>
                    </li>
                  <% end %>
                  <li class="menu-item">
                    <%= link_to 'Új recept', new_recipe_path %>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-sign-out'></i> Kijelentkezés").html_safe, kijelentkezes_path, method: "delete" %>
              </li>
              <% else %>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-sign-in'></i> Bejelentkezés").html_safe, bejelentkezes_path %>
              </li>
              <li class="menu-item">
                <%= link_to ("<i class='fa fa-key'></i> Regisztráció").html_safe, regisztracio_path %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>